* {
  box-sizing: border-box;
  font-family: "Inter", "Google Sans", sans-serif;
  color: #74695a;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e4e1dc;
}

.card ul, .card ol {
  padding: 10px 24px;
}


.container {
  /* margin-left: 100px; */
  padding: 80px;
}
.card {
  background-color: #d1cbc1;
  padding: 8px 3px;
  margin: 10px auto 0;
}
